
/* Styles for explore page*/

body {
    padding-top: 5rem;
	
}
main{
	background-color:whitesmoke;
	padding-bottom:5rem;
	
}
footer  {
    padding-top: 10%;
}

h2{
    padding-top: 3%;
	padding-bottom:2%;
	padding-left:15%;
    text-align: left;
}

ul{
    list-style-type: none;
}

#searchbox{
	background-color:white;
	padding: 5%;
	border-radius: 8px;
	box-shadow:3px 3px #cbd4d3;
	width:75%;
	margin:auto;
	
}

#btn{
	background-color:green;
	width:20%;
	margin-top:25px;
	color:white;
}

#makelabel{
	font-weight:bold;
	justify-content:left;
	padding-right:24%;
}

#model-label{
	font-weight:bold;
	justify-content:left;
	
}

#makebox{
	margin-right:4%;
	
}

#input1{
	margin-right:2%;
}

li.carinfo{
    
    float: left;
    border-radius: 5px;
    border-top: 5px solid #34eb95;
    border-left:1px solid grey;
    border-bottom:1px solid grey;
    border-right:1px solid grey;
    box-shadow: 5px 5px whitesmoke;
   	
}

div.info{
    
    display:grid;
    grid-template-columns: repeat(auto-fill, 225px);
    grid-gap:5%;
    padding-left: 13%;
	padding-right: 13%;
	margin-top:6%;
	
}
b{
	font-size:12px;
	margin-right:3px;
}
#ppic{
	width:15px;
	height:15px;
}
#cd{
	padding-left:3%;
}
#price{
	font-size:10px;
	background-color:#48d681;
	color:white;
	border-radius: 4px;
	display:inline-block;
	padding-left:3px;
	padding-top:5px;
	width:70px;
	margin:10px;
	height:22px;
	margin-left:30px;
	
}

#detailbtn{
	
	background-color:#1970e3;
	color:white;
	border-radius: 6px;
	font-weight:bold;
	font-size:13px;
	margin-left: 3%;
    margin-right: 3%;
	margin-bottom:20px;
    border-style: none;
    width: 13rem;
    height: 2rem;
}